@page
@model p2pRideshare.Pages.DriverBookingsModel
@{
    string userID = "";
    string matchID = "";
}


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        
        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>My Driver Bookings</h1>
                    </div>
                    
                </div>
            </div>
        </section>

        <section class="content pb-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4"></div>
                     <div class="col-sm-4"></div>
                    <div class="col-sm-4"></div>
                    @foreach (var item in Model.MatchedOffersList)
                    {
                        <div class="col-sm-4">

                            <div class="our-team">
                                @if (item.passengerStatus == "Accepted" && item.driverStatus == "Accepted")
                                {
                                    <div class="mb-3 mb-lg-0">
                                        <div class="alert alert-success" role="alert">
                                            <strong>Driver Confirmed</strong>
                                        </div>

                                    </div>
                                }
                                else
                                {
                                    <div class="mb-3 mb-lg-0">
                                        <div class="alert alert-danger" role="alert">
                                            <strong>Waiting Driver Confirmation</strong>
                                        </div>
                                    </div>
                                }


                                <div class="picture">
                                    <img class="img-fluid" src="~/mugshots/@item.profilePic">
                                </div>
                                <div class="team-content">

                                @if (item.passengerStatus == "Accepted" && item.driverStatus == "Accepted")
                                {
                                    @if (item.driverRated == "No")
                                    {
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ratingModal">
                                            Rate this driver
                                        </button>

                                        userID = item.userId;
                                        matchID = item.matchId;
                                    }

                                    @if (item.driverRated == "Yes")
                                    {
                                        <button type="button" class="btn btn-default">
                                            You have rated this driver
                                        </button>
                                    }
                                }
                                <p>@item.fullName - @item.idNo</p>

                                    <p>Pickup: @item.pickupLocation</p>
                                    <p>Destination: @item.finalDestination</p>

                                    <p>Date: @item.pickupDate | Time: @item.pickupTime</p>
                                    <p>Vehicle: @item.vehicleMake | Color: @item.vehicleColor | RegNo: @item.vehicleRegNo</p>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <img src="/mugshots/@item.picDriversLicense" alt="DriversLicensePic" class="img-thumbnail" style="width:40%">
                                        </div>
                                        <div class="col-sm-6">
                                            <img src="/mugshots/@item.picZinaraReg" alt="ZinaraRegPic" class="img-thumbnail" style="width:40%">
                                        </div>
                                    </div>

                                    <p>
                                        Phone:@if (item.passengerStatus == "Accepted" && item.driverStatus == "Accepted")
                                        {
                                            @item.phone
                                        }
                                        else
                                        {
                                            <b>Waiting driver confirmation</b>
                                        }

                                    </p>

                                    <p>
                                        Email:@if (item.passengerStatus == "Accepted" && item.driverStatus == "Accepted")
                                        {
                                            @item.email
                                        
                                        }

                                        else
                                        {
                                            <b>Waiting driver confirmation</b>
                                        }
                                    </p>




                                </div>
                                <ul class="social">




                                    @if (item.passengerStatus == "Accepted" && item.driverStatus == "Accepted")
                                    {
                                    string appLink = "https://wa.me/263" + item.phone;
                                    <li><a href="@appLink" class="fa fa-facebook" aria-hidden="true">Send Whats App</a></li>
                                        

                                    }
                                    else
                                    {
                                        <li><a href="#" class="fa fa-facebook" aria-hidden="true">Pending</a></li>
                                        <li><a href="#" class="fa fa-twitter" aria-hidden="true">Pending</a></li>
                                    }

                                </ul>
                            </div>

                        </div>
                    }


                </div>
            </div>
        </section>
    </div>


<div class="modal fade" id="ratingModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Rate this driver</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" enctype="multipart/form-data" asp-page-handler="rateuser">
            <div class="modal-body">
               
                <input type="hidden" id="theuser_id" name="theuser_id" value="@userID" />
                    <input type="hidden" id="thematch_id" name="thematch_id" value="@matchID" />

                    <div class="form-group">
                        <label >Select your rating out of 5</label>
                        <div class="row">

                            <div class="col">
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" id="customRadio1" name="customRadio" value="1" checked>
                            <label for="customRadio1" class="custom-control-label">1 Point</label>
                          
                        </div>
                            </div>
                            <div class="col">
                        <div class="custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" id="customRadio2" name="customRadio" value="2">
                            <label for="customRadio2" class="custom-control-label">2 Points</label>

                        </div>
                        </div>
                            <div class="col">
                        <div class="custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" id="customRadio3" name="customRadio" value="3">
                            <label for="customRadio3" class="custom-control-label">3 Points</label>

                        </div>
                        </div>

                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" id="customRadio4" name="customRadio" value="4">
                                    <label for="customRadio4" class="custom-control-label">4 Points</label>

                                </div>
                            </div>
                            <div class="col">
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" id="customRadio5" name="customRadio" value="5">
                                    <label for="customRadio5" class="custom-control-label">5 Points</label>

                                </div>
                            </div>
                        </div>
                     </div>
                
            </div>
            <div class="modal-footer justify-content-between">
                 
                <button type="submit" class="btn btn-primary">Submit Rating</button>
            </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>