@page
@model p2pRideshare.Pages.RideOffersModel
@{
}


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">


                @if (Model.errorMessage.Length > 0)
                {
                    <div class="d-flex justify-content-between w-100 flex-wrap">
                        <div class="mb-3 mb-lg-0">
                            <div class="alert alert-danger" role="alert">
                                <strong>@Model.errorMessage</strong>
                            </div>
                        </div>
                    </div>
                }

                @if (Model.successMessage.Length > 0)
                {
                    <div class="d-flex justify-content-between w-100 flex-wrap">
                        <div class="mb-3 mb-lg-0">
                            <div class="alert alert-success" role="alert">
                                <strong>@Model.successMessage</strong>
                            </div>
                        </div>
                    </div>
                }



                <div class="row">
                    
                    <div class="col-sm-6">
                        <h1>Available Drivers</h1>
                    </div>
                    
                </div>
                
            </div>
        </section>

        <section class="content pb-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4"></div>
                    @foreach (var item in Model.MatchedOffersList)
                    {
                        <div class="col-sm-4">

                            <div class="our-team">
                                <div class="picture">
                                    <img class="img-fluid" src="~/mugshots/@item.profilePic">
                                </div>
                                <div class="team-content">
                                    
                                    <p>@item.fullName - @item.idNo</p>
                                    
                                    <p>Pickup: @item.pickupLocation</p>
                                    <p>Destination: @item.finalDestination</p>

                                    <p>Date: @item.pickupDate | Time: @item.pickupTime</p>
                                    <p>Vehicle: @item.vehicleMake | Color: @item.vehicleColor | RegNo: @item.vehicleRegNo</p>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <img src="/mugshots/@item.picDriversLicense" alt="DriversLicensePic" class="img-thumbnail" style="width:40%">
                                        </div>
                                        <div class="col-sm-6">
                                            <img src="/mugshots/@item.picZinaraReg" alt="ZinaraRegPic" class="img-thumbnail" style="width:40%">
                                        </div>
                                    </div>


                                </div>
                                <ul class="social">
                                    <li><a href="/DriverBookings?matchId=@item.matchId&action=Accept" class="fa fa-facebook" aria-hidden="true">ACCEPT</a></li>
                                    <li><a href="/DriverBookings?matchId=@item.matchId&action=Reject" class="fa fa-twitter" aria-hidden="true">REJECT</a></li>

                                </ul>
                            </div>

                        </div>
                    }


                </div>
            </div>
        </section>
    </div>
