@page
@model p2pRideshare.Pages.RideRequestsModel
@{
}


    <!-- Content Wrapper. Contains page content-->
    <div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">

                @if (Model.errorMessage.Length > 0)
                {
                    <div class="d-flex justify-content-between w-100 flex-wrap">
                        <div class="mb-3 mb-lg-0">
                            <div class="alert alert-danger" role="alert">
                                <strong>@Model.errorMessage</strong>
                            </div>
                        </div>
                    </div>
                }

                @if (Model.successMessage.Length > 0)
                {
                    <div class="d-flex justify-content-between w-100 flex-wrap">
                        <div class="mb-3 mb-lg-0">
                            <div class="alert alert-success" role="alert">
                                <strong>@Model.successMessage</strong>
                            </div>
                        </div>
                    </div>
                }



            <div class="row">
                <div class="col-sm-12">
                    <h1>Available Passengers</h1>
                </div>
                
            </div>
        </div>
    </section>

    <section class="content pb-3">
        <div class="container-fluid">
        <div class="row">
                    
                    
                    @foreach (var item in Model.MatchedRequestsList)
                    {
                        <div class="col-sm-4">

                            <div class="our-team">
                                <div class="picture">
                                    <img class="img-fluid" src="~/mugshots/@item.profilePic">
                                </div>
                                <div class="team-content">
                                   
                                    <p>@item.fullName - @item.idNo</p>
                                    Offer Price: $@item.offerPrice
                                    <p>Pickup: @item.pickupLocation</p>
                                    <p>Destination: @item.dropoffLocation</p>

                                    <p>Date: @item.pickupDate | Time: @item.pickupTime</p>
                                    <p>Extra Passengers: @item.extraPassengers | Lagguage: @item.laguageDescription</p>


                                </div>
                                <ul class="social">
                                    <li><a href="/PassengerBookings?matchId=@item.matchId&action=Accept" class="fa fa-facebook" aria-hidden="true">ACCEPT</a></li>
                                    <li><a href="/PassengerBookings?matchId=@item.matchId&action=Reject" class="fa fa-twitter" aria-hidden="true">REJECT</a></li>
                                    
                                </ul>
                            </div>

                        </div>
                    }


        </div>
        </div>
    </section>
    </div>